* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #555;
}

.mb-0 {
  margin-bottom: 0em;
}

.mb-1 {
  margin-bottom: 1em;
}

.pb-0-8 {
  padding-bottom: 0.8em;
}

.inline-block {
  display: inline-block;
}

.black-nav-links {
  display: none;
}

.round-btn {
  height: 3em;
  width: 3em;
  background-color: #666;
  border-radius: 50%;
}

.round-btn:hover {
  background-color: #333;
  border: solid 1px #666;
}

ul li {
  list-style-type: none;
}

.heading2 {
  font-weight: 800;
  font-size: 2em;
  padding-bottom: 1em;
}

.heading2:hover {
  color: #000;
}

main {
  padding: 1em;
}

.disappear {
  display: none;
}

.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 3vh;
}
.white-nav-links {
  display: none;
}
.sweatpants {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100%;
  background: yellow;
  font-size: 0.8em;
  padding: 0.5em;
  margin-top: 1vh;
  z-index: 2;
}
.fix-nav-left img {
  width: 5em;
  height: auto;
}

.fix-nav-right {
  display: flex;
  align-items: center;
}

.fix-nav-right i {
  padding: 0 0.2em;
  font-size: 1.5em;
  color: #888;
  border-left: 1px solid #888;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: auto;
  margin-top: 13vh;
}

.hero-img-1 {
  background: url("../images/roman-kraft-_Zua2hyvTBk-unsplash.jpg");
}

.hero-img-2 {
  background: url("../images/Mobile-phone.jpg");
  background-position: center;
}
.disappear {
  display: none;
}

.hero-img-3 {
  background: url("../images/covid.jpg");
}

.header-img {
  background-size: cover;
  position: relative;
  height: 30vh;
  margin-bottom: 1em;
}

.img-text {
  width: 70%;
  margin: 5em auto 0;
  font-size: 1.2em;
  font-weight: bolder;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgb(218, 43, 43), #000);
  opacity: 0.8;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.news-container {
  display: grid;
  grid-template-columns: 1fr;
}

.news {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

.news-img img {
  width: 100%;
  height: 12vh;
}

.news-text-author p {
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1.2em;
  padding-bottom: 0.4em;
}

.news-text-author span {
  font-size: 0.8em;
  color: #888;
}
/* 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Funding Section styling
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.funding-links {
  margin-bottom: 1em;
}

.funding-links li {
  padding: 0.3em;
}

.orange {
  color: #f42;
}

.cinchy {
  height: 40vh;
  background: white;
  position: relative;
}

.cinchy-anchor {
  text-decoration: none;
  color: white;
}
.cinchy-img {
  position: absolute;
  width: 4em;
  height: 4em;
  top: 1em;
  left: 1em;
}

.cinchy-anchor h2 {
  display: block;
  padding: 0.6em 5em;
  font-size: 1.2em;
  background: #f42;
}

.cinchy-anchor h5 {
  color: #555;
  font-variant: small-caps;
}

.series-div {
  background: rgba(255, 68, 34, 0.08);
  color: #000;
  height: 10vh;
  padding: 0.6em 6em;
}
.rick {
  font-size: 0.7em;
}

.below-cinchy {
  height: 12vh;
  padding: 0.5em;
  border-bottom: 1px solid rgb(241, 173, 173);
}
.below-cinchy a {
  padding: 0.5em;
  display: block;
}

/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  APP SECTION STYLE 
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 */

.app-section {
  display: grid;
  grid-template-columns: 1fr;
}

.header-img .overlay h4 {
  color: white;
  margin-top: 8em;
  margin-left: 1em;
}

.header-img .overlay .app-img-text {
  color: white;
  width: 70%;
  font-size: 1.2em;
  font-weight: bolder;
  margin-left: 1em;
}

.header-img .overlay span {
  color: #888;
  margin-left: 1em;
}

.app .below-app-image {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.description {
  padding: 1em;
  background-color: rgb(241, 173, 173);
}

.description h4 {
  font-size: 0.8em;
}

.description p {
  font-size: 0.8em;
  font-weight: 600;
}

.app-small-img img {
  width: 100%;
  height: 11vh;
}

.app-features ul li {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  color: #666;
}

.latest-deals-header a {
  margin-left: 3.5em;
}

/* +++++++++++++++++++++++++++++++Footer++++++++++++++++++++++++++++++++++++++++++ */
.footer {
  height: 40vh;
  background: #000;
  color: white;
}
.icons-links {
  height: 25vh;
  background: #131313;
}

.icons {
  height: 12.5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icons a i {
  margin: 0.6em 0.5em;
  font-size: 1.5em;
}

.links {
  height: 10vh;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-links li {
  padding: 0.5em;
  margin-top: 1.5em;
}

.icons-links .icons a {
  color: white;
}

.footer-footnote p {
  text-align: center;
  padding-top: 1em;
}

@media only screen and (min-device-width: 768px) {
  .hamburger {
    display: none;
  }

  .navigation {
    height: auto;
    width: 100%;
  }

  .white-nav-links {
    display: inline-block;
    padding: 1em;
    margin-top: 0;
  }

  .ul-white-nav li {
    display: inline-block;
    height: 100%;
    font-size: 1.2em;
    padding: 0.5em;
    color: #666;
  }

  .black-nav-links {
    background: #000;
    color: white;
    height: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .black-nav-links ul li {
    display: inline-block;
    padding: 5px;
  }

  /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Style for top image section
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

  .main-wrapper {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5em;
  }

  .hero-img-1 {
    height: 61vh;
  }

  .span-2-rows {
    grid-row-end: span 2;
  }

  .header-img {
    margin-bottom: 0;
  }

  .text-bg {
    font-size: 2em;
    margin: 14.5em 0 0 0.5em;
  }

  .text-bg-sm {
    margin: 11em 0 0 0.5em;
  }

  .text-bg-sm-3 {
    margin: 13em 0 0 0.5em;
  }

  /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Style for Latest News section
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

  .news-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5em;
  }

  .news {
    grid-template-columns: 1fr;
  }
}
