* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.disappear {
  display: none;
}

.fix-nav {
  background-color: white;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.fix-nav-left img {
  width: 5em;
  height: 5em;
}

.fix-nav-right {
  display: flex;
  align-items: center;
}

.fix-nav-right i {
  padding: 0 0.2em;
  font-size: 1.5em;
} 

.sweatpants {
  background: #daa520;
  height: 4vh;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.hero-img {
  height: 20vh;
  background: darkcyan;
  border: 1px solid black;
  color: white;
}
